@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

button {
  appearance: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  opacity: 0.7;
}

.display {
  background-color: #6b705c;
}

.operators button {
  flex: 1 1 0%;
  background-color: #cb997e;
  font-weight: 700;
}

.digits button {
  flex: 1 1 33.333%;
  max-width: 33.333%;
  background-color: #ddbea9;
}

.equalsTo button {
  width: 100%;
  background-color: #131a26;
}
